<section id="candidates-content" class="hidden">
  <header class="flex items-center justify-between mb-8">
    <h2 class="text-3xl font-bold text-gray-900">Candidates Management</h2>
    {{#if isAdmin}}
    <button class="add-btn flex items-center px-5 py-2.5 bg-indigo-600 text-white text-sm font-semibold rounded-lg hover:bg-indigo-700 transition-all duration-200 shadow-md hover:shadow-lg"
            data-type="candidates">
      <i class="fas fa-plus mr-2"></i> Add Candidate
    </button>
    {{/if}}
  </header>
  <div class="overflow-x-auto bg-white rounded-xl shadow-lg">
    <table class="min-w-full rounded-xl overflow-hidden">
      <thead class="text-gray-700">
      <tr>
        <th class="px-4 py-2 rounded-tl-xl text-left">Full Name</th>
        <th class="px-4 py-2 text-left">Age</th>
        <th class="px-4 py-2 text-left">Gender</th>
        <th class="px-4 py-2 text-left">Phones</th>
        {{#if isAdmin}}<th class="px-4 py-2 rounded-tr-xl text-left">Actions</th>{{/if}}
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
      {{#each candidates}}
        <tr>
          <td class="px-4 py-2">{{fullName}}</td>
          <td class="px-4 py-2">{{age}}</td>
          <td class="px-4 py-2">{{gender}}</td>
          <td class="px-4 py-2">{{phones}}</td>
          {{#if ../isAdmin}}
          <td class="px-4 py-2">
            <button data-id="{{id}}" data-type="candidates"
                    class="edit-btn px-3 py-1 bg-blue-500 text-white rounded-lg hover:bg-blue-600"><i class="fas fa-edit"></i>
            </button>
            <button data-id="{{id}}" data-type="candidates"
                    class="delete-btn px-3 py-1 bg-red-500 text-white rounded-lg hover:bg-red-600"><i class="fas fa-trash"></i>
            </button>
          </td>
          {{/if}}
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</section>