<section id="trainers-content" class="hidden">
  <header class="flex items-center justify-between mb-8">
    <h2 class="text-3xl font-bold text-gray-900">Trainers Management</h2>
    {{#if isAdmin}}
    <button class="add-btn flex items-center px-5 py-2.5 bg-indigo-600 text-white text-sm font-semibold rounded-lg hover:bg-indigo-700 transition-all duration-200 shadow-md hover:shadow-lg"
            data-type="trainers">
      <i class="fas fa-plus mr-2"></i> Add Trainer
    </button>
    {{/if}}
  </header>
  <div class="overflow-x-auto bg-white rounded-xl shadow-lg">
    <table class="min-w-full rounded-xl overflow-hidden">
      <thead class="text-gray-700">
      <tr>
        <th class="px-4 py-2 rounded-tl-xl text-left">Image</th>
        <th class="px-4 py-2 text-left">Name</th>
        <th class="px-4 py-2 text-left">Role</th>
        <th class="px-4 py-2 text-left">Phone</th>
        <th class="px-4 py-2 text-left">Description</th>
        <th class="px-4 py-2 text-left">Course</th>
        {{#if isAdmin}}<th class="px-4 py-2 rounded-tr-xl text-left">Actions</th>{{/if}}
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
      {{#each trainers}}
        <tr>
          <td class="px-4 py-2">
            <img src="{{image}}" alt="{{fullName}}" class="h-12 w-12 rounded-lg object-cover">
          </td>
          <td class="px-4 py-2 font-semibold">{{fullName}}</td>
          <td class="px-4 py-2">{{role}}</td>
          <td class="px-4 py-2">{{phone}}</td>
          <td class="px-4 py-5 truncate max-w-xs">{{description}}</td>
          <td class="px-4 py-2">
            {{#each schedules}}
              {{title}}{{#unless @last}}, {{/unless}}
            {{/each}}
          </td>
          {{#if ../isAdmin}}
          <td class="px-4 py-2">
            <button data-id="{{id}}" data-type="trainers"
                    class="edit-btn px-3 py-1 bg-blue-500 text-white rounded-lg hover:bg-blue-600"><i class="fas fa-edit"></i>
            </button>
            <button data-id="{{id}}" data-type="trainers"
                    class="delete-btn px-3 py-1 bg-red-500 text-white rounded-lg hover:bg-red-600"><i class="fas fa-trash"></i>
            </button>
          </td>
          {{/if}}
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</section>