<section>
  <div class="min-h-screen flex items-center justify-center py-12">
    <div class="max-w-4xl mx-auto p-8 md:p-12 bg-white rounded-2xl shadow-lg border-2 border-green-500">
      <div class="p-4 md:p-8 border-2 border-green-200 rounded-lg">
        <h1 class="text-3xl md:text-4xl font-extrabold text-gray-800 leading-tight mb-8">
          {{#if (eq lang 'en')}}
            {{#if section.title}}{{section.title}}{{else}}{{#if t.legoWedo.title}}{{t.legoWedo.title}}{{else}}WHY PARTICIPATE IN THE LEGO WEDO 2.0 COURSE?{{/if}}{{/if}}
          {{else}}
            {{#if t.legoWedo.title}}{{t.legoWedo.title}}{{else}}WHY PARTICIPATE IN THE LEGO WEDO 2.0 COURSE?{{/if}}
          {{/if}}
        </h1>

        {{#if (eq lang 'en')}}
          {{!-- English: admin rich-text body if saved --}}
          {{#if section.body}}
            <div class="rich-text">{{{section.body}}}</div>
          {{else}}
            <div class="text-gray-600 leading-relaxed mb-6">{{#if t.legoWedo.body}}{{t.legoWedo.body}}{{else}}If you have a passion for drawing and sketching, or are intrigued by the world of design, you can begin your journey of acquiring exciting expertise through this course.{{/if}}</div>
            <p class="text-gray-600 leading-relaxed font-bold mt-8 mb-4">{{#if t.legoWedo.subtitle}}{{t.legoWedo.subtitle}}{{else}}The online Graphic Design Course offers a range of advantages:{{/if}}</p>
            <ul class="list-none space-y-4 text-gray-600">
              <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.li1}}{{t.legoWedo.li1}}{{else}}Online format lets you join the course from any location.{{/if}}</li>
              <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.li2}}{{t.legoWedo.li2}}{{else}}You will learn to collaborate with printing houses during the course.{{/if}}</li>
              <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.li3}}{{t.legoWedo.li3}}{{else}}By the end of the main part of the course, you will have an additional month to work with your trainer remotely.{{/if}}</li>
              <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.li4}}{{t.legoWedo.li4}}{{else}}After completing the course, you will be ready to apply for Junior Graphic Designer positions.{{/if}}</li>
            </ul>
            <p class="text-gray-600 leading-relaxed mt-8 mb-4">{{#if t.legoWedo.creatingTitle}}{{t.legoWedo.creatingTitle}}{{else}}During the course, we focus on developing a deep understanding of creative processes, color theory, styles, and composition. We will delve into the art of creating:{{/if}}</p>
            <ul class="list-none space-y-4 text-gray-600">
              <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.logo}}{{t.legoWedo.logo}}{{else}}Logos{{/if}}</li>
              <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.branding}}{{t.legoWedo.branding}}{{else}}Company branding and style{{/if}}</li>
              <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.packaging}}{{t.legoWedo.packaging}}{{else}}Product packaging{{/if}}</li>
              <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.printed}}{{t.legoWedo.printed}}{{else}}Printed materials such as brochures and flyers{{/if}}</li>
              <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.typography}}{{t.legoWedo.typography}}{{else}}Typography{{/if}}</li>
              <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.illustrations}}{{t.legoWedo.illustrations}}{{else}}Illustrations{{/if}}</li>
            </ul>
            <p class="text-gray-600 leading-relaxed mt-8">{{#if t.legoWedo.conclusion}}{{t.legoWedo.conclusion}}{{else}}By the end of the course, you will have generated your initial portfolio pieces.{{/if}}</p>
          {{/if}}
        {{else}}
          {{!-- ARM / RUS: always locale (full structured content) --}}
          <div class="text-gray-600 leading-relaxed mb-6">{{#if t.legoWedo.body}}{{t.legoWedo.body}}{{else}}If you have a passion for drawing and sketching, you can begin your journey through this course.{{/if}}</div>
          <p class="text-gray-600 leading-relaxed font-bold mt-8 mb-4">{{#if t.legoWedo.subtitle}}{{t.legoWedo.subtitle}}{{else}}The online Graphic Design Course offers a range of advantages:{{/if}}</p>
          <ul class="list-none space-y-4 text-gray-600">
            <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.li1}}{{t.legoWedo.li1}}{{else}}Online format lets you join the course from any location.{{/if}}</li>
            <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.li2}}{{t.legoWedo.li2}}{{else}}You will learn to collaborate with printing houses during the course.{{/if}}</li>
            <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.li3}}{{t.legoWedo.li3}}{{else}}By the end of the main part of the course, you will have an additional month to work with your trainer remotely.{{/if}}</li>
            <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.li4}}{{t.legoWedo.li4}}{{else}}After completing the course, you will be ready to apply for Junior Graphic Designer positions.{{/if}}</li>
          </ul>
          <p class="text-gray-600 leading-relaxed mt-8 mb-4">{{#if t.legoWedo.creatingTitle}}{{t.legoWedo.creatingTitle}}{{else}}During the course, we focus on developing a deep understanding of creative processes.{{/if}}</p>
          <ul class="list-none space-y-4 text-gray-600">
            <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.logo}}{{t.legoWedo.logo}}{{else}}Logos{{/if}}</li>
            <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.branding}}{{t.legoWedo.branding}}{{else}}Company branding and style{{/if}}</li>
            <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.packaging}}{{t.legoWedo.packaging}}{{else}}Product packaging{{/if}}</li>
            <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.printed}}{{t.legoWedo.printed}}{{else}}Printed materials such as brochures and flyers{{/if}}</li>
            <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.typography}}{{t.legoWedo.typography}}{{else}}Typography{{/if}}</li>
            <li class="relative pl-6"><span class="absolute left-0 top-1.5 w-2 h-2 bg-gray-500 rounded-full"></span>{{#if t.legoWedo.illustrations}}{{t.legoWedo.illustrations}}{{else}}Illustrations{{/if}}</li>
          </ul>
          <p class="text-gray-600 leading-relaxed mt-8">{{#if t.legoWedo.conclusion}}{{t.legoWedo.conclusion}}{{else}}By the end of the course, you will have generated your initial portfolio pieces.{{/if}}</p>
        {{/if}}
      </div>
    </div>
  </div>
</section>
